HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/


### VS Code ###
.vscode/
src/main/resources/static/uploads/
upload-dir/
src/main/model/shoeclassifier-0002.params
src/main/model/synset.txt
src/main/model/shoeclassifier-0002.params
